<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConstructionMe</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/905/905535.svg" type="image/icon type">
    <style>
        body,html{font-family: "Courier New", Courier, monospace; font-size: 25px; height:100%;text-align: center;
        background-color: #363232; overflow: hidden;color: white;}
    </style>
</head>
<body>
    <div style="margin:auto; margin-top:10%;">
        <h1>COMING SOON</h1>
        <hr style="width:40%;margin:auto;">
        <p>10 days left</p>
    </div>
</body>
</html>