<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="this is a portfolio page of Yudi Kahn, a full-stack web developer mainly working with node.js and c#.">
    <link href="scripts/style.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/imgs/favicon.svg" type="image/icon type">
    <meta name="theme-color" content="#343a40">
    <title>PortfolioMe</title>
</head>
<body>

  <span class="w-100 h-100 bg-dark text-white" id="loader" style="position:absolute;z-index:100;">
    <h1 id="tmpH1" style="position: relative;left:50%;top:20%;"></h1>
    <script type="text/javascript">
        let h1 = document.getElementById('tmpH1');
        let txt = [...'| Yudi Kahn | Portfolio '];
        txt.map((d,i)=>h1.innerHTML+=`<span style="transform: rotate(${-90 + (i*15)}deg);font-size:20px;height:110px;width:10px;color:white;">${d}</span>`)
    </script>
  </span>

  <header class="p-4 header">
    <nav class="navbar navbar-expand-lg bg-dark py-3 navbar-dark">
      <a class="navbar-brand text-white">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-white" id="nav-project">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" id="nav-comment">Comments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" id="nav-cert">Certificates</a>
          </li>
        </ul>
        <span>
          <a class="nav-link text-white"><i class="fa fa-2x fa-user-circle text-white"></i></a>         
        </span>
      </div>
    </nav>
  </header>

  <span id="root"></span>

  <footer class="bg-dark">
      &copy; Yudi Kahn <script>document.write(new Date().getFullYear())</script> &nbsp; 
      <a href="https://www.linkedin.com/in/yudi-kahn-1873291ab/" target="_blank"><i class="fa fa-linkedin text-white"></i></a> 
      <a href="https://github.com/yudiKahn" target="_blank"><i class="fa fa-github text-white"></i></a> 
      <a href="https://codepen.io/yudiK" target="_blank"><i class="fa fa-codepen text-white"></i></a> 
      <a href="tel:055-999-1015"><i class="fa fa-phone text-white"></i></a> 
  </footer>
  <script rel="preconnect" src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script rel="preconnect" src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script rel="preconnect" src="https://unpkg.com/super-react-gist/umd/super-react-gist.min.js"></script>
  <script rel="preconnect" src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script rel="preconnect" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
  <script rel="preconnect" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/babel" src="scripts/components.js"></script>
  <script type="text/javascript" src="scripts/script.js"></script>
</body>
</html>